<!DOCTYPE html>
<html lang="es" ng-app="app">
<head>
    <title>Pop goes the world</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <div class="container mt-3" ng-controller="MainController as vm">
        <div>
            <h2 class="float-left">Listado de latencias</h2>
            <div class="float-right">
                <a href="./admin/" class="btn btn-primary">Administración</a>
                <a href="./admin/logout/" class="btn btn-primary">Salir</a>
            </div>
            <br class="clearfix">
        </div>
        <table class="table mt-4 table-hover table-sm">
            <thead class="thead-default">
            <tr><th>Server</th><th>Descripción</th><th>Latencia</th><th>Último scan</th></tr>
            </thead>
            <tbody>
                <tr ng-repeat="sv in vm.entries">
                    <td>{{ sv.server.host }}</td>
                    <td>{{ sv.server.description }}</td>
                    <td>{{ sv.latency }} ms</td>
                    <td>{{ sv.datetime }}</td>
                </tr>
            </tbody>
        </table>
        <hr>
        <footer class="text-center text-muted">
            Por Jonathan Gutiérrez (c) 2017
        </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.js"></script>
    <script src="static/app.js"></script>
</body>
</html>
